/* ✅ Frist Style footer (Join Discord Partners) */
.discord-footer {
    background-color: #5865f2; /* ✅ Epic Color */
    color: white;
    text-align: center;
    padding: 10px; /* 🔹 Less Large */
    width: 100%;
    font-size: 16px; /* 🔹 Lower Text size */
    font-weight: bold;
  }
  