.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-form {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #535151e5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.login-field label {
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: white;
}

.login-field input {
  padding: 5px;
  font-size: 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  color: #384e32;
}

.login-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  background-color: #e5e7eb;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0b5f51fd;
}
/* ✅ Button Style "Encrypt Login" */
.encrypt-login-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  font-size: 1rem;
  font-family: monospace;
  color: white;
  background-color: #8d8d8db6; /* Background Login Button */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  transition: background 0.3s ease, color 0.3s ease;
}

/* ✅ Effet de survol */
.encrypt-login-button:hover {
  background-color: #f368e0; /* Vert foncé */
  color: #f7f7f7; /* Indigo */
}

/* ✅ Icône du cadenas */
.encrypt-login-button svg {
  font-size: 1.2rem;
}
