/* Mode Jour/Nuit */
:root {
  --bg-color-light: white; /* Fond clair */
  --text-color-light: black; /* Texte noir */

  --bg-color-dark: #1a202c; /* Fond sombre */
  --text-color-dark: white; /* Texte blanc */
}

/* Appliquer les couleurs en fonction du mode */
.light {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
}

.dark {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

/* Navbar */
.navbar {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
}

.dark .navbar {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

/* Home page */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased; /* Lisser le texte sur WebKit */
  -moz-osx-font-smoothing: grayscale; /* Lisser le texte sur Mozilla */
  background-color: var(--bg-color-dark); /* Par défaut en sombre */
  color: var(--text-color-dark);
  transition: background-color 0.3s ease, color 0.3s ease;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Styles généraux */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Styles pour la page "Work in Progress" */
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: inherit;
  color: white;
  text-align: center;
}

/* Gestion du mode sombre sur la home page */
.light .home-container {
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
}

.dark .home-container {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

/* Header */
.header {
  position: absolute;
  top: 20px;
  right: 20px;
}

/* Liens */
.link {
  color: #ffd700;
  text-decoration: none;
  font-size: 1rem;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

/* Barre de progression */
.progress-container {
  width: 80%;
  max-width: 500px;
  height: 20px;
  background-color: #333;
}

.progress-bar {
  width: 0%;
  height: 100%;
  background-color: #ffd700;
  transition: width 0.5s ease-in-out;
}

.percentage {
  font-size: 1.2rem;
  margin-top: 10px;
}

